@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-grow">
    <div class="w-3/4 m-16">
        <span class="font-extrabold text-5xl tracking-wide mb-6">Drop Downs</span>

        <p class="mt-4">Blazor drop downs with full styling and <span class="font-bold">NO JavaScript!!</span></p>

        <SurveyPrompt Title="How is Blazor working for you?" />
    </div>
</div>